*{
    margin:0;
    padding:0;
}
body{
    height: 2000px;
}
header{
    position: static;
    background-color: green;
}
nav  {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;

    
    
}
li{
    list-style: none;
    
}