*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 1px solid red;
    color: white;
    height: 600px;
    width:300px;
    position: relative;
}
.caja{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.caja1{
    background-color: blueviolet;
    position: absolute;
    bottom: 0px;
    right:0px;
}
.caja2{
    background-color: brown;

}.caja3{
    background-color: darkblue;
}
.caja4{
    background-color: darkmagenta;
    
}
.caja5{
    background-color: chocolate;
}
